In [49]:
import os
import psycopg2
import pymongo

from dotenv import load_dotenv
# Le .env est aussi à la racine
load_dotenv(".env")

USER_PSQL = os.environ.get("POSTGRESQL_LOCAL_USER")
PASSWORD_PSQL = os.environ.get("POSTGRESQL_LOCAL_PASSWORD")

conn = psycopg2.connect(user=USER_PSQL, password=PASSWORD_PSQL,dbname="course", host="localhost", port="5432")

USER_MONGODB = os.environ.get("MONGO_DB_USER")
PASSWORD_MONGODB = os.environ.get("MONGO_DB_PASSWORD")
uri = f"mongodb+srv://{USER_MONGODB}:{PASSWORD_MONGODB}@cluster0.1d0lnpt.mongodb.net/?retryWrites=true&w=majority"
client = pymongo.mongo_client.MongoClient(uri)

In [50]:
from psycopg2 import sql

try:

    cur = conn.cursor()

    # Pour pouvoir ré exécuter le code
    cur.execute("DROP TABLE IF EXISTS notebooks;")
    cur.execute("DROP TABLE IF EXISTS tp;")

    # Création d'une table notebooks
    cur.execute("""
       CREATE TABLE tp (
            tp_id SERIAL PRIMARY KEY, 
            tp_name VARCHAR(255) NOT NULL
        );
    """)
    print("Table tp successfully.")

    # Création d'une table notebooks
    cur.execute("""
       CREATE TABLE notebooks (
            notebook_id SERIAL PRIMARY KEY,
            tp_id INTEGER NOT NULL,
            notebook_name varchar(255) NOT NULL,
            FOREIGN KEY (tp_id) REFERENCES tp(tp_id)
        );
    """)
    print("Table notebooks successfully.")

    # Insertion de données
    cur.execute("""
        INSERT INTO tp (tp_name) VALUES ('tp1')
    """)
    print("Data tp1 successfully.")

    # Insertion de données
    cur.execute("""
        INSERT INTO tp (tp_name) VALUES ('tp2')
    """)
    print("Data tp2 successfully.")


    # Insertion de plusieurs lignes
    cur.executemany("""
        INSERT INTO notebooks (tp_id, notebook_name) 
        VALUES (%s, %s);
    """, [  (1, '0_sql_intro_northwind.ipynb'),
            (1, '1_rapatrier_et_filtrer.ipynb'),
            (1, '2_exercices.ipynb'),
            (1, '3_corriges.ipynb'),
            (2, '0_jointures_aggregation_sets.ipynb'),
            (2, '1_exercices_jointures_aggregation_sets.ipynb'),
            (2, '2_corriges.ipynb'),
            (2, '3_subqueries.ipynb'),
            (2, '4_exercices_subqueries.ipynb'),
            (2, '5_corriges.ipynb'),
            (2, '6_exemples.ipynb')
        ])
    print("Multiple data notebooks inserted successfully.")


    # Insertion de la view
    cur.execute("""
        CREATE VIEW tp_and_notebook AS
        SELECT n.notebook_id, n.tp_id, n.notebook_name, t.tp_name
        FROM notebooks n
        INNER JOIN tp t ON n.tp_id = t.tp_id;
    """)
    print("Add view successfully.")

    # Fermeture de la connexion
    cur.close()

except psycopg2.Error as e:
    print(f"Error connecting to PostgreSQL database: {e}")

Table tp successfully.
Table notebooks successfully.
Data tp1 successfully.
Data tp2 successfully.
Multiple data notebooks inserted successfully.
Add view successfully.

In [51]:
cur = conn.cursor()

# Rapatrier les données de tp
cur.execute("SELECT * FROM tp")
tp_postgres = cur.fetchall()   

# Rapatrier les données de notebooks
cur.execute("SELECT * FROM notebooks")
notebooks_postgres = cur.fetchall()   

cur.close()
conn.close()

try:
    # Connexion table course MongoDB
    db = client['course']

    # Suppression des collections tp et notebooks
    db['tp'].drop()
    db['notebooks'].drop()

    # Création des collections tp et notebooks
    tps_collection = db['tp']
    notebooks_collection = db['notebooks']

    # Définition des colonnes tp
    column_names_tps = [
        "tp_id",
        "tp_name"
    ]

    # Définition des colonnes notebooks
    column_names_notebooks= [
        "notebook_id",
        "tp_id",
        "notebook_name"

    ]

    # Pour chaque résultat de la requête Postgres pour TP
    for i in range(len(tp_postgres)):
        # On transforme la ligne en tuple
        tp_postgres[i] = tuple(tp_postgres[i])

    # On insert les données dans la collection
    documents_tp = [dict(zip(column_names_tps, row)) for row in tp_postgres]
    tps_collection.insert_many(documents_tp)

    # Pour chaque résultat de la requête Postgres pour notebooks  
    for i in range(len(notebooks_postgres)):
        # On transforme la ligne en list
        notebooks_postgres[i] = list(notebooks_postgres[i])
        # On récupère l'ID du tp
        notebooks_postgres[i][1] = tps_collection.find_one({"tp_id": notebooks_postgres[i][1] })
        # On transforme la ligne en tuple
        notebooks_postgres[i] = tuple(notebooks_postgres[i])

    # On insert les données dans la collection
    documents_notebooks = [dict(zip(column_names_notebooks, row)) for row in notebooks_postgres]
    notebooks_collection.insert_many(documents_notebooks)

    # Fonction correspondant à la vue Postgres
    def tp_and_notebook():
        # Récupère toutes les données des notebooks + le nom du tp
        results = notebooks_collection.find({})
        for notebook in results:
            print(f"{notebook['notebook_id']},{notebook['notebook_name']},{notebook['tp_id']['tp_id']},{notebook['tp_id']['tp_name']}\n")


    # Appel de la fonction
    tp_and_notebook()

except Exception as e:
    print(e)

1,0_sql_intro_northwind.ipynb,1,tp1

2,1_rapatrier_et_filtrer.ipynb,1,tp1

3,2_exercices.ipynb,1,tp1

4,3_corriges.ipynb,1,tp1

5,0_jointures_aggregation_sets.ipynb,2,tp2

6,1_exercices_jointures_aggregation_sets.ipynb,2,tp2

7,2_corriges.ipynb,2,tp2

8,3_subqueries.ipynb,2,tp2

9,4_exercices_subqueries.ipynb,2,tp2

10,5_corriges.ipynb,2,tp2

11,6_exemples.ipynb,2,tp2